
<div class="container">

<div align="center" class="logo-margin">
	<img src="images/logo.png"  alt="logo">
	
</div>

	<form class="form-horizontal" role="form" ng-submit="createUrl()">
    	<div class="form-group " >
        		
        		<div class="col-md-offset-2 col-md-6">
            	<input type="text" class="form-control" id="longurl" placeholder="Write your long Url here..." ng-model="url.longUrl">
            	</div>
            	
            	<button type="submit" class="btn btn-primary pull-left col-md-2"> Generate!</button>
            	
   		</div>
   		
   		<div class="form-group" >
   		
   		
   				<div class="col-md-offset-2 col-md-3">
            	<label class="control-label">(Optional) Customize your short Url:</label>
            	</div>
            	<div class="col-md-3">
            	<input type="text" class="form-control" id="customurl" placeholder="Write your custom Url here..." ng-model="url.shortUrl">
    			</div>
            	
   		</div>
	</form>
	
					<div ng-show="response" class="col-md-offset-2 col-md-8 more-top-margin">
						<div id="success" class="alert alert-success fade in big-text"
							ng-hide="error" ng-cloak>
							<strong>Success!</strong> This is your short Url: {{hostname+createdUrl}}
							
 
						</div>

						<div id="error" class="alert alert-danger fade in big-text"
							ng-show="error" ng-cloak>
							<strong>Error!</strong> {{textError}}
						</div>
					</div>
	
</div>

